/* COLORS */
$screen-small-devices: 280px;
$screen-medium-devices: 768px;
$screen-wsvga: 1024px;
$screen-hd: 1440px;
$screen-full-hd: 1920px;
$screen-2k: 2560px;

$padding-sides: 10vw;
$padding-sides-mobile: 6vw;
$wrapper-size: 120rem;

$c-gray: #555555;
$c-purple: #825f99;
$c-blue: #5c8599;
